<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Portal de Empleados <img
		src="https://img.freepik.com/free-vector/human-verify-logo-design-template_474888-1825.jpg?w=826&t=st=1693976358~exp=1693976958~hmac=b85d27d6915f4bc00cbe3418d6ccd9e60af45f89c1756d32b06739811bd6adb8"
		width="70" height="70" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link " href="/">Inicio </a></li>
			<li class="nav-item"><a class="nav-link " href="/employees">Consulta de Empleados</a></li>
		</ul>
	</div>
</nav>